.contenedor {
    width: 90px;
    height: 240px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.botonF1 {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: #36f44f;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 16px;
    margin-bottom: 16px;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
}

.table-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    overflow: auto;
}

@media (min-width: 720px) {
    .table-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}