<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand inicio" (click)="navigate('/main/appointment')">Inicio</a>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" (click)="navigate('/main/create-user')" >Registrar usuarios</a>
                <a class="nav-item nav-link" (click)="navigate('/main/create-doctor')">Registrar medicos</a>
            </div>
        </div>
    </div>
</nav>